.themesListWrapper {
    position: fixed;
    padding: 1rem;
    bottom: 15rem;
    left: 5rem;
    background: red;
    z-index: 100;
}

.themesListWrapper::before {
    position: absolute;
    top: 19.9rem;
    content: "";
    border: 2rem solid transparent; border-top: 2rem solid green;
    z-index: 100;
}

.themesListWrapper ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
}