.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 2s;
    z-index: 130;
}

.sticky {
    position: sticky;
    background: var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.burger {
    display: none;
    cursor: pointer;
    color: var(--text-color);
}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    .navbar {
        display: none;
    }
    .burger {
        display: block;
        z-index: 130;
    }
}

@media (max-width: 575.98px) {

}

