.burgerNav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 130;
    background: var(--bg-color);
}
.closeButton {
    position: absolute;
    top: 2rem;
    right: 4rem;
    transition: .3s;
    cursor: pointer;
}

.closeButton:hover {
    color: var(--main-color);
}

.closeButton:active {
    transform: scale(110%);
}

@media (min-width: 767px) {
    .burgerNav {
        display: none;
    }
}